.container{
    height: 60vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.one{
    
    width: 160px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: crimson;
    color: white;
    transform: rotate(-90deg);
}

.two{ 
    width: 160px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: brown;
    color: white;
    transition: all 600ms ease-in-out;
}

.two:hover{
    transform: scale(1.5,1.5);
}

.three{   
    width: 160px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(20, 220, 53);
    color: white;
    transition: all 600ms ease-in-out;
}

.three:hover{
    transform: skew(30deg, 30deg);
}


.four{   
    width: 160px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(20, 33, 220);
    color: white;
    position: fixed;
    bottom: 1rem;
    left: 50%;
    transform: translate(-50%);
}

.three:hover{
    transform: skew(30deg, 30deg);
}


