@import url('https://fonts.googleapis.com/css2?family=Anton&family=Lobster&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1{
    font-family: 'Lobster', cursive;
    margin: 40px;
    color: tomato;
}

img{
    max-width: 100%;
}

.portrait{
    display: none;
}

@media (max-width: 440px){
    .portrait{
        display: block;
        margin: 0 auto;
    }

    .landscape{
        display: none;
    }

    h1{
        text-align: center;
    }
}