*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hero{
    width: 100vw;
    height: 100vh;
    background-image: url("../img/paris.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}

.hero h1{
    font-size: 50px;
    padding-top: 50px;
    text-align: center;
    color: white;
}

.row{
    padding: 40px;
}

.row p{
    color: grey;
    font-size: 20px;
}

.parallax{
    padding: 60px 140px;
    background-image: url(../img/icons8-parachute-48.png), url(../img/mountain-.jpg);
    background-size: initial, cover;
    background-repeat: no-repeat, no-repeat;
    background-position: 80px, 60px, center;
    background-attachment: scroll,fixed;
}

.parallax p{
    background-color: rgba(255, 255, 255, 0.80);
    color: tomato;
    font-size: 32px;
    text-align: center;
    padding: 40px;
    font-style: italic;
}